/.vscode

# Python
__pycache__/
*.pyc
*.pyo

# Test / coverage
.pytest_cache/
.coverage

# Build / packaging
*.egg-info/
dist/
build/

# Env
.env
.venv/

# 1stmud reference
/reference/1stmud4.5.3/src/o
/reference/1stmud4.5.3/log